<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Ad's Blog</title>
  </head>

  <body style="padding-top:70px;background-color:#40545d; font-family: 'Ubuntu', sans-serif;background: rgb(64,84,93);background: rgb(64,84,93);
background: linear-gradient(0deg, rgba(64,84,93,1) 89%, rgba(120,161,179,1) 95%, rgba(199,199,199,1) 100%);">
    <nav class="navbar navbar-default navbar-fixed-top" style="border-bottom-style: ridge;border-bottom-color:black;border-bottom-width: 3px;">
        <div class="container-fluid" style="color: #40545d;" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="{% url 'blog:home' %}">
                  Ad's Blog
              </a>
            </div>
            <div class="collapse navbar-collapse" id="mynav">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'geogram:gghome' %}">Project 1 - Testing</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="{% url 'sitepages:about' %}">About Me</a>
                  </li>
                  <li>
                      <a href="http://www.twitter.com/adbotha101">Twitter</a>
                  </li>
                </ul>
            </div>
        </div>

    </nav>

    <div class="container" style="color:white;">

        <h1 style="text-align: center;">{{ post.title }}</h1>
        <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.shortpubdate}}</h4>
        <br/>
        <img src="{{ post.image.url}}" class="img-responsive center-block" style="max-height:400px;"/>
        <br/>
        {{ post.body|linebreaks}}
        <br/>
        <br/>
        <hr />

            <div id="disqus_thread"></div>
                <script>

                var disqus_config = function () {
                this.page.identifier = 'post-{{ post.id }}'
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://adblog-1.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


    </div>
  </body>
</html>